    <div class="topbar">
        <a href=""><img class="logo" src="img/JG Tonkunst1.png"></a>
        <input id="search" onkeydown="setSearch(); showposts();" class="searchinput" placeholder="Search">
        <div class="topbarright">
            <a href=""><img class="topbarrightimg" src="icons/home-7-24.jpg"></a>
            <a onclick="showContactWindow()"><img class="topbarrightimg" src="icons/message-2-24.jpg"></a>
            <a href=""><img class="topbarrightimg" src="icons/compass-3-24.jpg"></a>
            <!-- <a href=""><img class="topbarrightimg" src="img/favorite-3-24.jpg"></a>
            <a href=""><img class="topbarrightimg profilpicture" src="img/marmor2.jpg"></a> -->
        </div>
    </div>